
# vim:
*.swp
*.swo
*.orig

# modelsim:
modelsim.ini
transcript
*.mpf
*.cr.mti
*.wlf
*.bak
modelsim/work/

# quartus:
quartus/
# *.qdb
# *.qpg
# *.qtl
# *.qws
# *.qpf
*.qsf
# db/
# incremental_db/
# simulation/
# output/

